body {
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  background: white;
  padding: 40px;
  text-align: center;
}
@keyframes floatUp {
  to {
    transform: translateY(-120vh);
    opacity: 0;
  }
}
